<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.eventmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/eventManagerTitle" >
         <activity
             android:noHistory="true"
            android:name=".EventManagerActivity"
            android:label="@string/eventManagerTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:noHistory="true"
            android:name=".LoginActivity"
            android:label="@string/loginTitle" >
        </activity>
        <activity
            android:noHistory="true"
            android:name=".CredentialsActivity"
            android:label="@string/credentialsTitle" >
        </activity>
        <activity
            android:name=".PreferencesActivity"
            android:label="@string/preferencesTitle" >
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/eventsTitle" >
        </activity>
        <service android:name=".PollerService" android:label="@string/pollerTitle"></service>
    </application>

</manifest>