<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="code.eventmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    <permission android:name="code.eventmanager.SEND_EVENTS_NOTIFICATIONS"
    android:label="@string/permissionSendEventsNotificationsLabel"
    android:description="@string/permissionSendEventsNotificationsDescription"
    android:permissionGroup="android.permission-group.PERSONAL_INFO"
    android:protectionLevel="normal" />

    <permission android:name="code.eventmanager.RECEIVE_EVENTS_NOTIFICATION"
    android:label="@string/permissionReceiveEventsNotificationsLabel"
    android:description="@string/permissionReceiveEventsNotificationsDescription"
    android:permissionGroup="android.permission-group.PERSONAL_INFO"
    android:protectionLevel="normal" />

    <uses-permission android:name="code.eventmanager.SEND_EVENTS_NOTIFICATIONS" />
    <uses-permission android:name="code.eventmanager.RECEIVE_EVENTS_NOTIFICATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application android:name=".EventManagerApp" android:icon="@drawable/ic_launcher"
        android:label="@string/eventManagerTitle" >
        
        <activity android:name=".StartingActivity" android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".LoginActivity" android:label="@string/loginTitle" android:noHistory="true" android:launchMode="singleTop" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".CredentialsActivity" android:label="@string/credentialsTitle" android:noHistory="true" android:launchMode="singleTop" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".PreferencesActivity" android:label="@string/preferencesTitle" />
        <activity android:name=".EventsActivity" android:label="@string/eventsTitle" android:launchMode="singleTop" />
        <activity android:name=".NewEventActivity" android:label="@string/neweventTitle" android:launchMode="singleTop" android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity android:name=".DetailsActivity" android:label="@string/detailseventTitle" android:launchMode="singleTop" />

        <service android:name=".PollerService" android:label="@string/pollerTitle" />
        
        <receiver android:name=".BootReceiver">
        	<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		
        <receiver android:name=".NetworkReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
        
        <provider android:name=".EventProvider" android:label="@string/eventProviderTitle" android:authorities="code.eventmanager.eventprovider" />
        
        <receiver android:name=".EventManagerWidget" android:label="@string/eventManagerWidgetTitle">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<intent-filter>
				<action android:name="code.eventmanager.NEW_EVENTS" />
			</intent-filter>
			<intent-filter>
				<action android:name="code.eventmanager.REFRESH_WIDGET" />
			</intent-filter>	    
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/eventmanager_widget_info" />
		</receiver>
        
    </application>
    
</manifest>